* {
  box-sizing: border-box;
}

button {
  &.active {
    cursor: pointer;
  }
}

a { 
  text-decoration: none;
}

.no-drag {
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}